<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="lvdai_robot_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.1804999449356 -0.00273866649124351 0.091014183904472"
        rpy="0 0 0" />
      <mass
        value="6.17712866957098" />
      <inertia
        ixx="0.0765770429900304"
        ixy="-0.00475183633184437"
        ixz="-0.0139868629226085"
        iyy="0.214900074008021"
        iyz="0.000567250121054698"
        izz="0.220774767228163" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lvdai_robot_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lvdai_robot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="imu_Link">
    <inertial>
      <origin
        xyz="-0.000688395649958373 -1.73472347597681E-18 0.0127340952341144"
        rpy="0 0 0" />
      <mass
        value="0.128107293639224" />
      <inertia
        ixx="3.90756386120144E-05"
        ixy="1.31655759583977E-21"
        ixz="2.39523915531079E-07"
        iyy="9.57033496454551E-05"
        iyz="-1.59613157475675E-22"
        izz="0.000120070610789786" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lvdai_robot_description/meshes/imu_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lvdai_robot_description/meshes/imu_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_Joint"
    type="fixed">
    <origin
      xyz="-0.017 0 0.023"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="GPS_Link">
    <inertial>
      <origin
        xyz="0.000417677297434749 3.42845823302074E-06 -0.0195092891150941"
        rpy="0 0 0" />
      <mass
        value="0.304587557604101" />
      <inertia
        ixx="0.00105278769376815"
        ixy="-6.58791722395924E-09"
        ixz="-3.87048553099503E-07"
        iyy="0.00105754938144068"
        iyz="-1.72919315240756E-08"
        izz="0.000656581063248847" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lvdai_robot_description/meshes/GPS_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lvdai_robot_description/meshes/GPS_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="GPS_Joint"
    type="fixed">
    <origin
      xyz="0.165 -0.055 0.14474"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="GPS_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Lidar_Link">
    <inertial>
      <origin
        xyz="-0.000789284392422401 6.24637443072985E-05 -0.0347906964430356"
        rpy="0 0 0" />
      <mass
        value="0.350342210135116" />
      <inertia
        ixx="0.000620137445762928"
        ixy="9.27237914490949E-07"
        ixz="-3.7723238657919E-07"
        iyy="0.000636562760168824"
        iyz="6.62101387916197E-08"
        izz="0.00081167598895679" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lvdai_robot_description/meshes/Lidar_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://lvdai_robot_description/meshes/Lidar_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lidar_Joint"
    type="fixed">
    <origin
      xyz="0 0 0.3312"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Lidar_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>